{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content%}
<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

        {% if target_user.profile %}
        <img style="height: 10rem; width: 10rem; border-radius: 10rem; margin-bottom: 1rem; object-fit: cover;"
             src="{{ target_user.profile.image.url }}" alt="{{ target_user.profile.nickname }}'s profile">
        <h2>
            {{ target_user.profile.nickname }}
                {% if target_user == user %}

                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    Edit
                </a>
                {% endif %}
        </h2>
        <h5 style="margin-bottom: 3rem;">{{ target_user.profile.message }}</h5>
        {% else %}
            {% if target_user == user %}
            <a href="/profiles/create/">
                <h2>
                    Create Profile
                </h2>
            </a>
            {% else %}
            <h6>
                닉네임 미설정...
            </h6>
            {% endif %}
        {% endif %}
        {% if target_user == user %}
        <a href="{% url 'accountapp:update' pk=user.pk %}">
            <p>
                Change Info
            </p>
        </a>
        <a href="{% url 'accountapp:delete' pk=user.pk %}">
            <p>
                Quit
            </p>
        </a>
        {% endif %}

    </div>
     <div>

            {% include 'snippets/list_fragment.html' with article_list=object_list %}

     </div>
</div>
{% endblock%}