<div style="text-align: center; margin: 20px">
    <div>
       <h1 style="font-family: 'Berkshire Swash', cursive;">PINTEREST</h1>
    </div>
    <div style="margin-bottom: 10px">
        {% if user.is_authenticated %}
            <a href="{% url 'accountapp:logout' %}"><span>logout</span></a>
        {% else %}
            <a href="{% url 'accountapp:login' %}"><span>login</span></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}"><span>My Page</span></a>
        {% else %}
            <a href="{% url 'accountapp:create' %}"><span>signup</span></a>
        {% endif %}
        <span>nav3</span>
        <span>nav4</span>
    </div>
</div>